.container{
    width: 100vw;
    display: flex;
}
.task-card{
    width: 90vw;
    height: auto;
    display: flex;
    grid-template-columns: auto;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 5px 8px rgba(82, 82, 82, 0.2);
}
.task-title{
    margin: auto auto auto 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    color: #343A40;
}
.delete-button{
    margin: auto 10px auto 0;
    width: 15px;
    height: 15px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.delete-button:hover{
    opacity: 1;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.complete-button{
    margin: auto 0 auto auto;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.complete-button:hover{
    opacity: 1;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}