@media only screen and (max-width:500px){
    .title{
        font-size: 14px;
        margin: auto auto;
        padding: 5px;
        font-weight: lighter;
        cursor: initial;
    }
    .selector{
        cursor: initial;
    }
    
}