container{
    display: flex;
    width: 100vw;
}
.title{
    font-size: 16px;
    margin: auto auto;
    padding: 5px 8vw;
    cursor: pointer;
    font-weight: lighter;
}
.selector{
    display: flex;
    width: 90vw;
    margin: auto auto;
    height: auto;
    box-shadow: 0 5px 8px rgba(82, 82, 82, 0.2);
    margin-bottom: 15px;
    cursor: pointer;
}
.selector-left{
    display: flex;
    margin: auto 0 auto auto;
    background-color: #0e442b;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 5px;
    width: 33%;
    color: lightcyan;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.selector-left:hover{
    background-color: #072416;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.selector-center{
    display: flex;
    margin: auto 0 auto 0;
    background-color: #0e442b;
    width: 33%;
    color: lightcyan;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.selector-center:hover{
    background-color: #072416;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.selector-right{
    display: flex;
    margin: auto auto auto 0;
    background-color: #0e442b;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 5px;
    width: 33%;
    color: lightcyan;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.selector-right:hover{
    background-color: #072416;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}